.timeline-body {
	background: #fff;
	padding: 10px;
	color: #4f4f4f;
}

.order-data {
	font-size: 0.8em;
	padding-top: 5px;
	width: fit-content;
	min-width: 700px;
	text-align: left;
	margin: auto;
}

.order-data label {
	color: #4f4f4f;
}

.come-back {
	float: left;
	margin-top: 10px;
	margin-left: 100px;
	border: none;
	background: none;
	color: #035ec7;
	font-size: 1em;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: underline;
}

.vertical-timeline-element {
	margin: 15px 0 !important;
}

.come-back:hover {
	background: #035ec7;
	color: #fff;
	text-decoration: none;
}

.header-text {
	margin: 0px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.8em;
	font-weight: 900;
	color: #035ec7;
	margin-right: 200px;
}

.date {
	font-size: 0.8em !important;
	color: #666 !important;
}

.date,
.status,
.description {
	margin: 2px !important;
	padding: 0 !important;
}

.status {
	font-size: 1.3em !important;
}

.description {
	font-size: 1em !important;
}

.vertical-timeline.vertical-timeline--two-columns::before {
	background: #035ec7;
}
